@import './responsive.scss';

.layout{
    height: 100vh;
    max-width: 1300px;
    margin: auto;
    padding: 0px 20px ;
    
    @include lg{
        background-color: yellow;
        max-width: 1024px;
    }
    
    @include md{
        background-color: green;
        max-width: 768px;
    }
    
    @include sm{
        background-color: blue;
        max-width: 640px;
    }
}